body {
	margin: 0;
	padding: 0;
	background-color: #222225;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

ul {
	margin: 0;
}

a {
	text-decoration: none;
}

/* responsividade */

@media (max-width:1200px) and (min-width:1130px) {
	
	div.reddead {
		margin-left: 2600px;
		transition: 1s;
	}

	div.reddead2 {
		margin-left: 2240px;
		transition: 1s;
	}

	div.conteudoJogos {
		gap: 20px;
	}

	div.jg2 {
		gap: 0px;
	}

	div.logo a img {
		display: none;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 30% 65% 5%;
		grid-template-areas: "logo pesquisa login";
	}

	div.logo {
		gap: 35px;
	}
}

@media (max-width:1129px) and (min-width: 900px){
	div.contGameImg img {
		width: 207px;
		height: 270px;
	}

	div.reddead {
		margin-left: 2340px;
		transition: 1s;
	}

	div.reddead2 {
		margin-left: 2350px;
		transition: 1s;
	}

	div.jg2 {
		gap: 0px;
	}

	div.contGame {
		display: flex;
		flex-direction: column;	
	}

	div.containerJogosEmAlta {
		width: 98%;
	}

	div.conteudoJogos, div.conteudoJogos2, div.conteudoJogos3, div.conteudoJogos4 {
		gap: 0px;
		overflow: hidden;
	}

	div.logo a img {
		display: none;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 30% 65% 5%;
		grid-template-areas: "logo pesquisa login";
	}

	div.logo {
		gap: 20px;
	}
}

@media (max-width:899px) and (min-width: 800px){
	div.contGameImg img {
		width: 207px;
		height: 270px;
	}

	div.reddead {
		margin-left: 2400px;
		transition: 1s;
	}

	div.reddead2 {
		margin-left: 2400px;
		transition: 1s;
	}

	div.jg2 {
		gap: 0px;
	}

	div.contGame {
		display: flex;
		flex-direction: column;	
	}

	div.conteudoJogos {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	div.conteudoJogos::-webkit-scrollbar {
		display: none;
	}


	div.botaoCarrousel {
		display: none;
	} 

	div.contGame {
		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	div.containerJogosEmAlta {
		width: 98%;
	}

	div.conteudoJogos, div.conteudoJogos2, div.conteudoJogos3, div.conteudoJogos4 {
		gap: 0px;
	}

	div.logo a img {
		display: none;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 30% 65% 5%;
		grid-template-areas: "logo pesquisa login";
	}

	div.logo {
		gap: 10px;
	}
}

@media (max-width:799px) and (min-width:621px){

	div.reddead2 {
		margin-left: 2600px;
		transition: 1s;
	}

	div.jg2 {
		gap: 0px;
	}

	div.contGameImg img {
		width: 207px;
		height: 270px;
	}

	div.reddead {
		margin-left: 2600px;
		transition: 1s;
	}

	div.conteudoJogos {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	div.conteudoJogos::-webkit-scrollbar {
		display: none;
	}

	div.contGame {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	div.botaoCarrousel {
		display: none;
	}

	div.containerJogosEmAlta {
		width: 95%;
		display: flex;
		justify-content: start;
		align-items: start;
	}

	div.conteudoJogos, div.conteudoJogos2, div.conteudoJogos3, div.conteudoJogos4 {
		gap: 0px;
	}

	div.logo a img {
		display: none;
	}

	div.list a {
		padding: 6px 15px;
		color: #262626;
		font-size: 1.1em;
		background-color: #636363;
		border-radius: 20px;
	}

	div.logo .linkLogo {
		display: none;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 10% 85% 5%;
		grid-template-areas: "logo pesquisa login";
	}

	div.logo {
		gap: 15px;
	}
}

@media (max-width:620px) and (min-width:481px){
	
	div.reddead2 {
		margin-left: 2750px;
		transition: 1s;
	}

	div.jg2 {
		gap: 0px;
	}

	div.conteudoJogos {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	div.conteudoJogos::-webkit-scrollbar {
		display: none;
	}

	div.reddead {
		margin-left: 3100px;
		transition: 1s;
	}

	div.pesquisaMb {
		display: flex;
		width: 95%;
		height: 83%;
	}

	div.botaoCarrousel {
		display: none;
	}

	div.pesquisaMb input {
		width: 85%;
		height: 77%;
		background: #151517;
		border: 1px solid black;
		border-radius: 5px 0px 0px 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		color: #7D7C7C;
	}

	div.pesquisaMb input::placeholder {
		opacity: 50%;
	}

	.pesquisaMb input::placeholder {
		color: #7D7C7C;
		padding-left: 10px;
	}

	.pesquisaMb input:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
	.pesquisaMb button {
		height: 83%;
		border: 1px solid black;
		border-radius: 0px 5px 5px 0px;
		width: 15%;
		background: #151517;
		cursor: pointer;
	}

	li.loginMobile{
		display: block;
	}

	div.login {
		display: none;
	}

	section.catalogoList {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.list {
		display: none;
	}

	div.list a {
		padding: 6px 15px;
		color: #262626;
		font-size: 0.8em;
		background-color: #636363;
		border-radius: 20px;
	}

	header .containerHead {
		width: 98%;
	}

	div.logo a img {
		display: none;
	}

	div.pesquisa button {
		height: 35px;
		width: 45px;
		border-radius: 5px;
		background-color: #232323;
		color: #696969;
		border: 1px solid black;
		cursor: pointer;
		display: none;
	}

	div.logo .linkLogo {
		display: block;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 85% 15%;
		grid-template-areas: "logo  pesquisa";
	}

	div.logo {
		margin-left: 10%;
		display: flex;
		gap: 9%;
	}

	div.containerHead {
		display: flex;
	}

	div.pesquisa input {
		display: none;
	}

	div.pesquisa input::placeholder {
		color: #7D7C7C;
		padding-left: 0;
	}
}

@media (max-width:480px) and (min-width:361px){

	div.reddead {
		margin-left: 3270px;
		transition: 1s;
	}

	div.reddead2 {
		margin-left: 2900px;
		transition: 1s;
	}

	div.jg2 {
		gap: 0px;
	}

	div.container-menu-mobile ul {
		justify-content: space-evenly;
	}

	div.conteudoJogos {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	div.conteudoJogos::-webkit-scrollbar {
		display: none;
	}

	div.pesquisaMb {
		display: flex;
		width: 95%;
		height: 83%;
	}

	div.botaoCarrousel {
		display: none;
	}

	div.pesquisaMb input {
		width: 85%;
		height: 77%;
		background: #151517;
		border: 1px solid black;
		border-radius: 5px 0px 0px 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		color: #7D7C7C;
	}

	div.pesquisaMb input::placeholder {
		opacity: 50%;
	}

	.pesquisaMb input::placeholder {
		color: #7D7C7C;
		padding-left: 10px;
	}

	.pesquisaMb input:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
	.pesquisaMb button {
		height: 83%;
		border: 1px solid black;
		border-radius: 0px 5px 5px 0px;
		width: 15%;
		background: #151517;
		cursor: pointer;
	}

	li.loginMobile{
		display: block;
	}

	div.login {
		display: none;
	}

	section.catalogoList {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.list {
		display: none;
	}

	div.list a {
		padding: 6px 15px;
		color: #262626;
		font-size: 0.8em;
		background-color: #636363;
		border-radius: 20px;
	}

	header .containerHead {
		width: 98%;
	}

	div.logo a img {
		display: none;
	}

	div.pesquisa button {
		height: 35px;
		width: 45px;
		border-radius: 5px;
		background-color: #232323;
		color: #696969;
		border: 1px solid black;
		cursor: pointer;
		display: none;
	}

	div.logo .linkLogo {
		display: block;
	}

	div.logo button {
		display: block;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 85% 15%;
		grid-template-areas: "logo  pesquisa";
	}

	div.logo {
		margin-left: 4%;
		display: flex;
		gap: 10%;
	}

	div.containerHead {
		display: flex;
	}

	div.pesquisa input {
		display: none;
	}

	div.pesquisa input::placeholder {
		color: #7D7C7C;
		padding-left: 0;
	}
}

@media (max-width:360px){
	
	div.reddead {
		margin-left: 3310px;
		transition: 1s;
	}

	div.reddead {
		margin-left: 3270px;
		transition: 1s;
	}

	div.reddead2 {
		margin-left: 2900px;
		transition: 1s;
	}

	div.conteudoJogos {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	div.conteudoJogos::-webkit-scrollbar {
		display: none;
	}

	div.container-menu-mobile ul {
		justify-content: space-evenly;
	}

	div.pesquisaMb {
		display: flex;
		justify-content: center;
		width: 95%;
		height: 83%;
	}

	div.botaoCarrousel {
		display: none;
	}

	div.pesquisaMb input {
		width: 80%;
		height: 67%;
		background: #151517;
		border: 1px solid black;
		border-radius: 5px 0px 0px 5px;
		font-size: 1.2em;
		text-transform: uppercase;
		color: #7D7C7C;
	}

	div.pesquisaMb input::placeholder {
		opacity: 50%;
	}

	.pesquisaMb input::placeholder {
		color: #7D7C7C;
		padding-left: 10px;
	}

	.pesquisaMb input:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
	.pesquisaMb button {
		height: 74%;
		border: 1px solid black;
		border-radius: 0px 5px 5px 0px;
		width: 15%;
		background: #151517;
		cursor: pointer;
	}

	li.loginMobile{
		display: block;
	}

	div.login {
		display: none;
	}

	section.catalogoList {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.list {
		display: none;
	}

	div.list a {
		padding: 6px 15px;
		color: #262626;
		font-size: 0.8em;
		background-color: #636363;
		border-radius: 20px;
	}

	header .containerHead {
		width: 98%;
	}

	div.logo a img {
		display: none;
	}
	div.pesquisa {
		display: none;
	}
	div.pesquisa button {
		height: 35px;
		width: 45px;
		border-radius: 5px;
		background-color: #232323;
		color: #696969;
		border: 1px solid black;
		cursor: pointer;
	}


	div.logo button {
		display: block;
		margin-left: 10px;
	}

	div.navegacaoHeader {
		display: none;
	}

	div.containerHead {
		grid-template-columns: 100% 20%;
		grid-template-areas: "logo";
	}

	div.logo {
		display: flex;
		justify-content: space-evenly;
		grid-area: logo;
	}
	div.pesquisa input {
		display: none;
	}

	div.pesquisa input::placeholder {
		color: #7D7C7C;
		padding-left: 0;
	}

	div.logo .linkLogo {
		width: 180px;
		padding-right: 45px;
		display: block;
		font-size: 1.5em;
	}
}

/* fim responsividade */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #151517;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #393939;
}

/* header cont */
header {
	width: 100%;
	height: 70px;
	background: #151517;
	border-bottom: 1px solid black;
	box-shadow: 0px 0px 5px black;
	display: flex;
	justify-content: center;
}

.containerHead {
	width: 95%;
	height: 70px;
	display: grid;
	grid-template-columns: 20% 35% 40% 5%;
	grid-template-areas: "logo pesquisa nav login";
}

.logo {
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
	grid-area: logo;
	gap: 20px;
}

.logo img {
	background: #232323;
	border-radius: 50%;
	box-shadow: 0px 0px 3px black;
	border: 1px solid black;
	width: 45px;
	height: 45px;
}

.linkLogo {
	text-transform: uppercase;
	background-image: linear-gradient(to right, #ff9900, #ff3366);
  	-webkit-background-clip: text;
  	color: transparent;
  	letter-spacing: 1px;
  	font-size: 1.7em;
}

.pesquisa {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: pesquisa;
	height: 70px;
}

.pesquisa input {
	width: 80%;
	height: 53%;
	background: #262626;
	border: none;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #7D7C7C;
}

input.pesquisaFocus::placeholder {
	opacity: 50%;
}

.pesquisa input::placeholder {
	color: #7D7C7C;
	padding-left: 10px;
}

.pesquisa input:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}

.pesquisa button {
	height: 57%;
	border: none;
	width: 10%;
	background: #262626;
	cursor: pointer;
}

.navegacaoHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: nav;
	height: 70px;
}

.navegacaoHeader a {
	padding: 5px;
	color: #7D7C7C;
	font-size: 1.1em;
	text-transform: uppercase;
}

.navegacaoHeader ul {
	display: flex;
	gap: 5px;
}

.navegacaoHeader li {
	list-style: none;
	height: 100%;
}

.navegacaoHeader nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4px;
	height: 100%;
}

.navegacaoHeader a:hover {
	opacity: 50%;
	transition: 0.2s;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: login;
	height: 70px;
}

.login a {
	color: #7D7C7C;
	font-size: 1.6em;
}

.login a:hover {
	opacity: 50%;
	transition: 0.2s;
}

/* fim header */

/* menu mobile */

.pesquisaMb {
	display: none;
}

#pesquisaMobile {
	display: none;
}

.loginMobile {
	display: none;
}

.loginMobile i{
	font-size: 1.4em;
}

.logo button {
	display: none;
	height: 35px;
	width: 45px;
	border-radius: 5px;
	background-color: #232323;
	color: #696969;
	border: 1px solid black;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: bold;
}

.logo button:hover {
	background-color: #121212;
	border: 1px solid black;
	transition: 0.3s;
}

.menu-mobile {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	background: #151517;
	width: 250px;
	height: 91vh;
	margin-left: -300px;
	transition: 0.7s;
	z-index: 1;
}

#main {
	transition: 0.6s;
}

.container-menu-mobile {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	padding: 0px;
}

.container-menu-mobile ul {
	display: flex;
	height: 100%;
	width: 95%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0px;
}

.container-menu-mobile li {
	list-style: none;
}

.container-menu-mobile a {
	color: #7D7C7C;
	font-size: 1.3em;
}

.container-menu-mobile a:hover {
	opacity: 50%;
	transition: 0.2s;
}


/* fim menu mobile */

/* sessão catálogo */

#main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.catalogoList {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #252529;
	height: 75px;
	width: 100%;
}

.list ul {
	display: flex;
	padding: 0;
	gap: 5px;
	justify-content: space-evenly;
}

.list ul li {
	display: flex;
	text-align: center;
	list-style: none;
}

.list a {
	padding: 6px 15px;
	color: #262626;
	font-size: 1.2em;
	background-color: #636363;
	border-radius: 20px;
}

.list a:hover {
	opacity: 50%;
	transition: 0.2s;
}

/* fim sessão catálogo */

/* sessão jogos em alta */

.jogosEmAlta {
	padding-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerJogosEmAlta {
	display: flex;
	overflow: auto;
	gap: 10px;
	align-items: center;
	width: 95%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.titulo a {
	color: #9B9B9B;
	font-size: 2em;
}

.titulo h4 {
	color: #9B9B9B;
	font-size: 2em;
}

.titulo a:hover {
	color: #6E6E6E;
	transition: 0.2s;
}

.reddead {
	margin-left: 2500px;
	transition: 1s;
}

.conteudoJogos {
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
	justify-content: center;
	gap: 30px;
	align-items: center;
	width: 100%;
	height: 65vh;
	transition: 0.4s;
}

.contGame {
	height: 100%;
	display: flex;
	flex: 0 0 250px;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
}

/* sessão melhor nota */
.contGame2 {
	height: 80%;
	display: flex;
	flex: 0 0 250px;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
}

.reddead2 {
	margin-left: 2100px;
	transition: 1s;
}

.jg2 {
	gap: 0px;
}

.contGame2 .contGameImg {
	width: 200px;
	height: 263px;
	margin-top: 10px;
}

.contGame2 .contGameImg img{
	width: 200px;
	height: 263px;
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 0px 1px 5px black;
}

/* fim melhor nota */

.contGame a {
	display: flex;
	justify-content: center;
}

.contGameImg img {
	width: 237px;
	height: 293px;
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 0px 1px 5px black;
}

.contGameImg {
	display: flex;
	flex-direction: column;
}

.contGameImg img:hover {
	margin-top: 3px;
	transition: 0.2s;
}

.infoGame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.infoGame a{
	color: #CACACA;
	margin-top: 5px;
	font-size: 1.2em;
}

.infoGame span {
	opacity: 50%;
	color: #CACACA;
}

.botaoCarrousel {
	margin-bottom: 80px;
	height: 100%;
	font-size: 1.2em;
	width: 45px;
	height: 45px;
}

.carroselBtn {
	background-color: #343434;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 1.2em;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.carroselBtn:hover {
	background-color: #212121;
	transition: 0.3s;
}

img.imgGame {
	height: 98%;
}

.infoNota {
	display: flex;
	justify-content: right;
	margin-right: 15px;
	font-size: 0.8em;
}

/* fim sessão jogos em alta */

/* sessão trailer */

.containerTrailer {
	display: flex;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}

.containerTrailer iframe {
	border-radius: 8px;
	width: 90%;
	height: 90vh;
}

/* fim trailer */